$gradient: linear-gradient(19deg, #21d4fd 0%, #b721ff 90%);

.weather-side {
  position: relative;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  max-height: 300px;
  z-index: 1;
}

// Media query for boostrap md and above
@media (min-width: 768px) {
  .weather-side {
    min-width: 300px;
    max-width: 300px;
    max-height: 460px;
  }
}

.weather-side::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #21d4fd;
  background-image: $gradient;
  opacity: 0.65;
}
