<div class="container flex-1">
  <div class="row h-100">
    <div class="col-12 col-md-6 col-lg-4 ms-auto mt-auto my-md-auto p-0 flex">
      <div
        class="card weather-side rounded-4 overflow-hidden ms-md-auto shadow-lg"
      >
        <img
          src="https://images.unsplash.com/photo-1542224566-6e85f2e6772f?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Weather Image"
          class="card-img object-fit-cover"
        />
        <div class="card-img-overlay z-3 text-white d-flex flex-column ms-2">
          <!-- Heder of the card image -->
          <h5 class="display-6 fw-semibold mt-3">
            {{ currentDay | date : "EEEE" }}
          </h5>
          <p class="fs-5 fw-semibold">
            {{ currentDay | date : "dd MMM YYYY" }}
          </p>
          <p class="fs-5 fw-semibold">
            {{ realTimeWeatherData.location.name }}
          </p>

          <!-- Footer of the card image -->
          <div class="mt-auto mb-2">
            <p class="display-4 fw-bold">
              {{ realTimeWeatherData.current.temp_c }}°C
            </p>
            <p class="fs-2 fw-bold">
              {{ realTimeWeatherData.current.condition.text }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-12 col-sm-10 col-md-6 col-lg-4 my-md-auto mx-auto ms-md-0 me-md-auto p-0"
    >
      <div
        class="weather-details d-flex flex-column border-md-top border-bottom border-end border-start border-start-md-0 border-light-subtle bg-light-subtle shadow-lg p-4"
      >
        <!-- Precipitation -->
        <div class="d-flex justify-content-between">
          <p class="fw-bold fs-5 text-uppercase">Feels like</p>
          <p class="fs-5">
            {{ realTimeWeatherData.current.feelslike_c }}
            °C
          </p>
        </div>

        <!-- Humidity -->
        <div class="d-flex justify-content-between mt-2">
          <p class="fw-bold fs-5 text-uppercase">Humidity</p>
          <p class="fs-5">{{ realTimeWeatherData.current.humidity }} %</p>
        </div>

        <!-- Wind -->
        <div class="d-flex justify-content-between mt-2">
          <p class="fw-bold fs-5 text-uppercase">Wind</p>
          <p class="fs-5">
            {{ realTimeWeatherData.current.wind_kph }}
            km/h
          </p>
        </div>

        <div class="row mt-5 gap-1 week-list rounded-3">
          @for(forecastday of forecastWeatherData.forecast.forecastday; track
          forecastday.date ) {
          <div
            class="col d-flex flex-column text-center rounded-4 week-item gap-2 py-2"
          >
            <img
              src="{{ forecastday.day.condition.icon }}"
              alt="Weather Icon"
              class="img-fluid mx-auto"
              height="60"
              width="60"
            />
            <p>{{ forecastday.day.avgtemp_c }} °C</p>
            <p>
              {{ forecastday.date | date : "EEEE" }}
            </p>
          </div>
          }
        </div>
        <button class="btn btn-md btn-primary mt-auto rounded-5">
          Change Location
        </button>
      </div>
    </div>
  </div>
</div>
