<div class="container flex-1">
  <div class="row h-100">
    <div class="col-12 col-md-6 col-lg-4 ms-auto mt-auto my-md-auto p-0 flex">
      <app-weather></app-weather>
    </div>
    <div
      class="col-12 col-sm-10 col-md-6 col-lg-4 my-md-auto mx-auto ms-md-0 me-md-auto p-0"
    >
      <div
        class="weather-details d-flex flex-column border-md-top border-bottom border-end border-start border-start-md-0 border-light-subtle bg-light-subtle shadow-lg p-4"
      >
        <!-- Precipitation -->
        <div class="d-flex justify-content-between">
          <p class="fw-bold fs-5 text-uppercase">Feels like</p>
          <p class="fs-5">
            {{ realTimeWeatherData.current.feelslike_c }}
            °C
          </p>
        </div>

        <!-- Humidity -->
        <div class="d-flex justify-content-between mt-2">
          <p class="fw-bold fs-5 text-uppercase">Humidity</p>
          <p class="fs-5">{{ realTimeWeatherData.current.humidity }} %</p>
        </div>

        <!-- Wind -->
        <div class="d-flex justify-content-between mt-2">
          <p class="fw-bold fs-5 text-uppercase">Wind</p>
          <p class="fs-5">
            {{ realTimeWeatherData.current.wind_kph }}
            km/h
          </p>
        </div>

        <div class="row mt-5 gap-1 week-list rounded-3">
          @for(forecastday of forecastWeatherData.forecast.forecastday; track
          forecastday.date ) {
          <div
            class="col d-flex flex-column text-center rounded-4 week-item gap-2 py-2"
          >
            <img
              src="{{ forecastday.day.condition.icon }}"
              alt="Weather Icon"
              class="img-fluid mx-auto"
              height="60"
              width="60"
            />
            <p>{{ forecastday.day.avgtemp_c }} °C</p>
            <p>
              {{ forecastday.date | date : "EEEE" }}
            </p>
          </div>
          }
        </div>
        <app-modal-toggler-btn (clickEvent)="toggleModal($event)" />
      </div>
    </div>
  </div>
</div>
<app-modal [show]="showFormModal" (hideModal)="toggleModal($event)" />
